.header {
    display: flex;
    padding: 40px;
    background: lightcyan;
    color: black;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
}

.header h1 {
    margin-left: 60px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: lightcyan;
    color: black;
    text-align: center;
    width: 100%;
}

.footer ul li p {
    margin-right: 20px;
}

.navbar ul, .footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    margin-left: 250px;
    margin-right: 250px;
}

.navbar ul li, .footer ul li {
    border-right: 1px solid lightsteelblue;
}

.navbar ul li:last-child, .footer ul li:last-child {
    border-right: none;
}

.navbar ul li a, .footer ul li a {
    display: block;
    color: black;
    padding: 14px 36px;
    text-decoration: none;
    font-size: 18px;
}

.navbar ul li a:hover, .footer ul li a:hover {
    background-color: lightsteelblue;
}

.content {
    background-color: lightblue;
    margin-right: 250px;
    margin-left: 250px;
    padding: 20px;
}

.forms {
    display: flex;
    gap: 20px;
}

.forms div {
    flex: 1;
}

#contactinfo input {
    margin: 10px;
    padding: 5px;
    width: 200px;
}

#notes {
    width: 99%;
    height: 200px;
}

#submitbutton {
    margin-bottom: 50px;
    padding: 10px;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: 0px;
}

input {
    margin: 10px;
}

.orderdetails {
    padding: 10px;
    margin: 20px;
    border: 1px solid black;
}

.orderdetails ul {
    column-count: 2;
}

.orderdetails ul li {
    padding: 10px;
}

.navbuttons {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-bottom: 50px;
            }
.navbuttons a {
                padding: 20px;
                border: 1px solid black;
                background-color: lightgray;
                text-decoration: none;
                color: black;
            }

.navbuttons a:hover {
    background-color: lightgoldenrodyellow;
}
