.header {
    display: flex;
    padding: 40px;
    background: lightcyan;
    color: black;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
}

.header h1 {
    margin-left: 60px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    margin-left: 250px;
    margin-right: 250px;
}

.navbar ul li {
    border-right: 1px solid lightsteelblue;
}

.navbar ul li:last-child {
    border-right: none;
}

.navbar ul li a {
    display: block;
    color: black;
    padding: 14px 36px;
    text-decoration: none;
    font-size: 18px;
}

.navbar ul li a:hover {
    background-color: lightsteelblue;
}
